In [37]:
import pandas as pd
import math
import numpy as np
from os import path
from config import ROOT_PATH, DATA_PATH

In [30]:
# Read catch, and mortality rates (1)
# ---> read natural mortality matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'm_mortality_rate.csv')
m = pd.read_csv(data_path)

# ---> read fishing mortality matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'f_mortality_rate.csv')
f = pd.read_csv(data_path)

# --> read catch matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'catch_rate.csv')
c = pd.read_csv(data_path)

# --> abundance matrix
n = f.copy()
n[n.columns[1:]] = 0

In [204]:
class Abundance:
    
    def __init__ (self, c: pd.DataFrame, m: pd.DataFrame, f: pd.DataFrame):
        self.c = c
        self.m = m
        self.f = f
    
    def calculate_abundance_last_cols_rows (self, n: pd.DataFrame) -> pd.DataFrame:
        # Calculate abundance for last column (age 8 for all years)
        ct = self.c.iloc[:, -1]
        zt = self.f.iloc[:, -1] + self.m.iloc[:, -1]
        ft = self.f.iloc[:, -1]
        exp_z = np.exp(pd.Series([1] * len(zt)) - zt)
        #----> update last column
        n.iloc[:, -1] = round(ct * zt / ft * exp_z, 2)

        # Calculate abundance for last row (all ages for the last year)
        ct = self.c.iloc[-1, 1:].reset_index(drop=True)
        zt = (self.f.iloc[-1, 1:] + self.m.iloc[-1, 1:]).reset_index(drop=True)
        ft = self.f.iloc[-1, 1:].reset_index(drop=True)
        exp_z = np.exp(pd.Series([1] * len(zt)) - zt)
        #----> update last rowex
        n.iloc[-1, 1:] = round(ctr * ztr / ftr * exp_z, 2)
        
        return n
    
    def calculate_abundance_rest_cols_rows (self, n: pd.DataFrame) -> pd.DataFrame:
        for col in range(len(n.columns)-1, 1, -1): # Calculation from age 7 to age 1
            nt1 = n.iloc[1:, col].reset_index(drop=True) # Nt+1,a+1
            e_m = np.exp(m.iloc[:-1, col-1])
            ct = self.c.iloc[:-1, col-1]
            em_2 = np.exp(m.iloc[:-1, col-1] / 2)
            n.iloc[:-1, col-1] = round((nt1 * e_m) + (ct * em_2), 2)
        return n
    
    def calculate (self, n: pd.DataFrame) -> pd.DataFrame:
        n = self.calculate_abundance_last_cols_rows(n)
        n = self.calculate_abundance_rest_cols_rows(n)
        return (n)

## 1) Calculate abundance matrix 

Calculate the abundance matrix by using the initial fishing mortality matrix. 

### 1.1) Calculate only the last column and row of N matrix of abundance matrix

To calculate the last row (fish of all ages for the last year) and colums (fish of age 8 for all years), use the catch equation: $ \large N_{t} = \frac{C_{t} * Z_{t}}{F_{t} * \ e^{(1 - Z_{t})}} $

### 1.2) Calculate rest of abundance matrix using Pope's equation

The Pope's equation $ \large N_{t, a} =  N_{t+1, a+1}e^{M} + C_{t}e^{\frac{M}{2}} $ is used to calculate the rest of the rows

In [205]:
abundance = Abundance(c, m, f)
n = abundance.calculate(n)
n

,year,1,2,3,4,5,6,7,8
0,1984,17151.50,20613.13,3572.67,2493.30,517.17,260.80,202.66,191.40
1,1985,14027.02,12470.69,13941.71,2439.99,1547.31,334.82,169.58,149.89
2,1986,8490.36,10424.76,8209.29,8633.04,1505.79,965.89,234.28,115.30
3,1987,17381.58,6175.46,7111.00,5135.84,4871.06,872.66,586.33,168.34
4,1988,10964.31,12849.32,4461.75,4373.16,2382.18,2200.68,479.30,325.14
5,1989,29829.54,8470.18,7627.85,2830.59,2391.83,1182.78,1043.19,315.92
6,1990,36784.08,21376.26,6340.66,4376.79,1847.94,1210.59,576.98,461.20
7,1991,46230.18,27721.73,13849.45,4632.77,2568.51,1273.27,663.94,350.51
8,1992,72539.15,35082.77,19251.97,8633.55,3248.83,1498.22,898.08,375.88
9,1993,75278.94,54920.94,24728.83,12310.66,5273.87,2138.36,892.36,592.64
10,1994,52021.05,57010.56,37755.48,16396.01,7912.57,3327.17,1429.73,479.64
11,1995,210878.22,39561.82,37190.75,22188.70,9658.42,4219.94,1903.74,943.15
12,1996,146704.74,158607.97,28744.85,23101.76,11424.33,4551.50,1607.98,929.31
13,1997,57695.60,106850.50,99100.91,18235.25,12240.44,5964.74,2221.85,643.37
14,1998,125890.10,43417.25,62757.21,56533.85,8603.95,5907.57,3188.34,1127.63
15,1999,43872.45,88319.96,30457.25,33265.76,26715.78,4354.20,3031.74,1187.58
16,2000,83591.56,32330.54,51221.08,18573.41,17107.14,13008.53,2349.71,1754.85
17,2001,41939.25,55804.07,22577.45,26904.19,11932.22,9542.44,6533.11,1206.03
18,2002,48010.69,30212.51,33261.24,15227.07,12788.14,7528.71,5092.16,3090.02
19,2003,99772.08,31523.92,18738.45,16389.68,8474.48,6157.62,4982.63,3189.18
20,2004,185175.52,69437.11,18277.18,10353.12,8292.68,4485.47,3116.17,3145.36
21,2005,38679.89,123684.43,42522.26,9426.44,5339.63,3593.76,2316.04,1418.18
22,2006,63271.78,27614.99,68996.37,23184.75,4752.07,2510.00,2054.88,1222.17
23,2007,77977.91,39700.14,18624.34,35116.39,12027.08,2483.07,1412.94,1242.93
24,2008,46119.33,48554.33,20356.78,11234.12,15238.17,5964.67,1384.02,834.77
25,2009,120013.88,30277.73,24153.98,9955.27,6157.25,6820.50,2655.26,814.01
26,2010,28306.59,74806.51,15734.04,9826.44,4307.02,3211.19,2808.17,1178.36
27,2011,39547.21,17999.83,39291.86,7520.85,3916.35,2260.90,1723.40,1309.80
28,2012,53829.22,23034.31,10169.71,19375.17,3431.26,1751.90,1276.30,1007.72
29,2013,42009.73,37317.37,12898.32,5513.61,8875.74,1572.68,714.86,731.00

## 2) Recalculate fishing mortality submatrix

### 2.1) Recalculate the submatrix that excludes the last column and last row

We exclude the last column from the calculation which corresponds to age 8 and use the formula $ \large log_n (\frac{N_{t,a}}{N_{t+1,a+1}}) - M$

In [176]:
new_f = f.copy()
for col in range(len(n.columns)-1, 1, -1): # from age 8 to age 2 but calucations are fro age 7 to 1
    nta1 = n.iloc[1:, col].reset_index(drop=True) # Nt+1,a+1
    nta = n.iloc[:-1, col-1]
    log_n = np.log(nta / nta1)
    mt = m.iloc[:-1, col-1]  # mt = M
    new_f.iloc[:-1, col-1] = round(log_n - mt, 2)
new_f

    year     1     2     3     4     5     6     7    8
0   1984  0.06  0.14  0.07  0.19  0.06  0.10  0.05  0.4
1   1985  0.04  0.15  0.22  0.12  0.18  0.03  0.07  0.4
2   1986  0.06  0.11  0.19  0.31  0.14  0.19  0.02  0.4
3   1987  0.04  0.06  0.18  0.43  0.51  0.13  0.24  0.4
4   1988  0.01  0.20  0.16  0.25  0.33  0.45  0.05  0.4
5   1989  0.07  0.03  0.20  0.13  0.27  0.30  0.48  0.4
6   1990  0.03  0.16  0.04  0.17  0.09  0.19  0.14  0.4
7   1991  0.02  0.09  0.19  0.07  0.15  0.07  0.15  0.4
8   1992  0.02  0.08  0.15  0.20  0.10  0.12  0.11  0.4
9   1993  0.03  0.11  0.12  0.14  0.16  0.08  0.14  0.4
10  1994  0.01  0.17  0.24  0.20  0.25  0.22  0.09  0.4
11  1995  0.03  0.04  0.21  0.32  0.32  0.38  0.30  0.4
12  1996  0.06  0.21  0.12  0.35  0.28  0.24  0.24  0.4
13  1997  0.03  0.26  0.29  0.25  0.42  0.23  0.17  0.4
14  1998  0.10  0.10  0.34  0.44  0.16  0.35  0.36  0.4
15  1999  0.05  0.28  0.25  0.35  0.39  0.11  0.23  0.4
16  2000  0.15  0.10  0.37  0.19  0.26  0.33  0.09  0.4
17  2001  0.07  0.26  0.13  0.44  0.21  0.27  0.33  0.4
18  2002  0.14  0.21  0.45  0.29  0.40  0.16  0.14  0.4
19  2003  0.10  0.23  0.31  0.42  0.31  0.33  0.21  0.4
20  2004  0.15  0.21  0.29  0.35  0.55  0.30  0.36  0.4
21  2005  0.08  0.33  0.31  0.26  0.39  0.28  0.25  0.4
22  2006  0.22  0.14  0.41  0.33  0.20  0.23  0.23  0.4
23  2007  0.22  0.42  0.24  0.56  0.33  0.14  0.18  0.4
24  2008  0.17  0.45  0.47  0.33  0.51  0.35  0.09  0.4
25  2009  0.22  0.40  0.65  0.59  0.36  0.56  0.28  0.4
26  2010  0.20  0.39  0.49  0.67  0.39  0.32  0.41  0.4
27  2011  0.29  0.32  0.46  0.53  0.55  0.32  0.23  0.4
28  2012  0.12  0.33  0.36  0.53  0.53  0.65  0.31  0.4
29  2013  0.10  0.20  0.30  0.40  0.40  0.40  0.40  0.4

### 2.2) Recalculate the last column of the fishing mortality matrix

The last column and for all cells, except the last one the calculation is performed by calculating the average fishing mortality of all ages between 3 and 7. This is because the fishing mortality at early stage of fish life is neglible.

In [193]:
f_3_7 = ((new_f.iloc[:-1, 3:8]).mean(axis=1)).values
new_f.iloc[:-1, -1] = f_3_7

## 3) Recalculate the abundance matrix with the new fishing mortality matrix

In [ ]:
abundance = Abundance(c, m, new_f)
n = abundance.calculate(n)
n