In [37]:
import pandas as pd
import math
import numpy as np
from os import path
from config import ROOT_PATH, DATA_PATH

# Theory to calculate the abundance and fishing mortality matrix

## 1) Calculate diagonal abundance and fishing mortality matrices 

The first step will calculate the diagonal abundance and fishing mortality matrices, assuming a terminal fishing moratlity $ F_{3} $ and fix natural mortality M

1. Calculation of abundance for oldest age: $ \large (1) N_{8} = \frac{C_{8} * Z_{8}}{F_{8} * \ e^{(1 - Z_{8})}} $
2. Once $ N_{8} $ is known, we calculate the fishing mortality of same cohort the year earlier $ F_{7} $ so that $ N_{8} $ was left. To do so we use the catch equation at age: $ \large C_{7} = \frac{F_{7}}{Z_{7}} * e^{(1 - Z_{7})} $
3. Last we calculate $ N_{7} $ using teh exponential decay function for $ N_{t} $: $ \large N_{7} =  N_{8} * e^{(Z_{7})} = N_{8} * e^{(F_{7} + M)} $
4. We repeat the steps 2 and 3 until we calculate $ N_{1} $

## 2) Recalculate the abundances for a submatrix that excludes last year and last age

The abundance matrix is modified by recalculating the submatrix that excludes the last row (last year) and column (last age). The formula to recalculate it is: $ \large N_{t} =  N_{t+1}e^{M} + C_{t}e^{\frac{M}{2}} $. This process will generate a new abundance matrix.

## 3) Recalculate the fishing mortality matrix

1. Calculate first the submatrix that excludes the last column (last age) with the formula: $ \large log_n (\frac{N_{t,a}}{N_{t+1,a+1}}) - M$
2. Calculate the last column (last age fishing mortality) as the average of the fishing mortality of the previoius ages.  In our cases we would get use only from age 3 onwards as the fishing mortality of those ages is very small and the natural one very large.

In [30]:
# Read catch, and mortality rates (1)
# ---> read natural mortality matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'm_mortality_rate.csv')
m = pd.read_csv(data_path)

# ---> read fishing mortality matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'f_mortality_rate.csv')
f = pd.read_csv(data_path)

# --> read catch matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'catch_rate.csv')
c = pd.read_csv(data_path)

# --> abundance matrix
n = f.copy()
n[n.columns[1:]] = 0

## 1.1) Calculate last column and row of N matrix of abundance matrix

Use catch equation $ \large N_{t} = \frac{C_{t} * Z_{t}}{F_{t} * \ e^{(1 - Z_{t})}} $

In [170]:
# Calculate abundance for last column (age 8 for all years)
ct = c.iloc[:, -1]
zt = f.iloc[:, -1] + m.iloc[:, -1]
ft = f.iloc[:, -1]
exp_z = np.exp(pd.Series([1] * len(zt)) - zt)
# update last column
n.iloc[:, -1] = round(ct * zt / ft * exp_z, 2)

In [171]:
# Calculate abundance for last row (all ages for the last year)
ct = c.iloc[-1, 1:].reset_index(drop=True)
zt = (f.iloc[-1, 1:] + m.iloc[-1, 1:]).reset_index(drop=True)
ft = f.iloc[-1, 1:].reset_index(drop=True)
exp_z = np.exp(pd.Series([1] * len(zt)) - zt)
# update last rowex
n.iloc[-1, 1:] = round(ctr * ztr / ftr * exp_z, 2)

## 1.2) Calculate rest of abundance matrix using Pope's equation

The Pope's equation $ \large N_{t, a} =  N_{t+1, a+1}e^{M} + C_{t}e^{\frac{M}{2}} $ is used to calculate the rest of the rows

In [175]:
for col in range(len(n.columns)-1, 1, -1): # Calculation from age 7 to age 1
    nt1 = n.iloc[1:, col].reset_index(drop=True) # Nt+1,a+1
    e_m = np.exp(m.iloc[:-1, col-1])
    ct = c.iloc[:-1, col-1]
    em_2 = np.exp(m.iloc[:-1, col-1] / 2)
    n.iloc[:-1, col-1] = round((nt1 * e_m) + (ct * em_2), 2)
n

,year,1,2,3,4,5,6,7,8
0,1984,18955.14,21132.02,6111.09,2912.34,1402.06,456.97,227.94,202.66
1,1985,17032.09,13875.37,14345.82,4416.91,1873.66,1023.97,322.35,169.58
2,1986,10215.12,12765.11,9303.26,8947.76,3045.42,1220.05,770.99,234.28
3,1987,22848.98,7518.71,8933.67,5987.83,5116.16,2071.73,784.27,586.33
4,1988,16492.09,17107.34,5507.87,5792.65,3045.71,2391.56,1413.14,479.30
5,1989,33735.02,12775.22,10944.00,3645.31,3497.33,1699.54,1191.85,1043.19
6,1990,45867.54,24417.85,9693.43,6959.41,2482.44,2071.56,979.43,576.98
7,1991,58088.70,34795.94,16218.24,7243.91,4579.86,1767.42,1334.46,663.94
8,1992,83151.57,44318.20,24761.37,10478.37,5282.39,3064.66,1282.92,898.08
9,1993,78702.12,63185.90,31921.39,16601.38,6710.62,3722.10,2112.30,892.36
10,1994,82676.32,59676.54,44192.23,21997.58,11254.19,4446.11,2663.15,1429.73
11,1995,222399.73,63436.17,39267.02,27201.65,14020.93,6822.40,2775.17,1903.74
12,1996,157025.33,167580.93,47338.21,24718.76,15328.42,7949.03,3634.78,1607.98
13,1997,57527.61,114888.18,106089.06,32715.77,13499.76,9005.25,4867.85,2221.85
14,1998,131056.91,43286.42,69016.96,61976.23,19881.39,6888.33,5556.29,3188.34
15,1999,48664.39,92343.87,30355.36,38140.86,30954.31,13137.08,3795.56,3031.74
16,2000,84569.91,36062.51,54354.91,18494.06,20903.87,16309.50,9189.82,2349.71
17,2001,45099.94,56566.01,25483.91,29344.82,11870.42,12499.33,9103.91,6533.11
18,2002,58606.31,32674.06,33854.64,17490.62,14688.91,7480.58,7394.99,5092.16
19,2003,109150.98,39775.80,20655.51,16851.82,10237.33,7637.94,4945.15,4982.63
20,2004,187555.61,76741.40,24703.75,11846.13,8652.60,5858.38,4269.04,3116.17
21,2005,40225.45,125538.05,48210.85,14431.46,6502.39,3874.07,3385.26,2316.04
22,2006,63271.78,28818.67,70439.97,27615.03,8649.99,3415.56,2273.18,2054.88
23,2007,77977.91,39700.14,19561.77,36240.67,15477.39,5518.77,2118.19,1412.94
24,2008,46119.33,48554.33,20356.78,11964.19,16113.76,8651.78,3748.23,1384.02
25,2009,120013.88,30277.73,24153.98,9955.27,6725.83,7502.41,4747.98,2655.26
26,2010,28306.59,74806.51,15734.04,9826.44,4307.02,3654.00,3339.24,2808.17
27,2011,39547.21,17999.83,39291.86,7520.85,3916.35,2260.90,2068.26,1723.40
28,2012,53829.22,23034.31,10169.71,19375.17,3431.26,1751.90,1276.30,1276.30
29,2013,42009.73,37317.37,12898.32,5513.61,8875.74,1572.68,714.86,731.00

## 1.3) Recalculate fishing mortality submatrix

We exclude the last column from the calculation which corresponds to age 8 and use the formula $ \large log_n (\frac{N_{t,a}}{N_{t+1,a+1}}) - M$

In [176]:
new_f = f.copy()
for col in range(len(n.columns)-1, 1, -1): # from age 8 to age 2 but calucations are fro age 7 to 1
    nta1 = n.iloc[1:, col].reset_index(drop=True) # Nt+1,a+1
    nta = n.iloc[:-1, col-1]
    log_n = np.log(nta / nta1)
    mt = m.iloc[:-1, col-1]  # mt = M
    new_f.iloc[:-1, col-1] = round(log_n - mt, 2)
new_f

    year     1     2     3     4     5     6     7    8
0   1984  0.06  0.14  0.07  0.19  0.06  0.10  0.05  0.4
1   1985  0.04  0.15  0.22  0.12  0.18  0.03  0.07  0.4
2   1986  0.06  0.11  0.19  0.31  0.14  0.19  0.02  0.4
3   1987  0.04  0.06  0.18  0.43  0.51  0.13  0.24  0.4
4   1988  0.01  0.20  0.16  0.25  0.33  0.45  0.05  0.4
5   1989  0.07  0.03  0.20  0.13  0.27  0.30  0.48  0.4
6   1990  0.03  0.16  0.04  0.17  0.09  0.19  0.14  0.4
7   1991  0.02  0.09  0.19  0.07  0.15  0.07  0.15  0.4
8   1992  0.02  0.08  0.15  0.20  0.10  0.12  0.11  0.4
9   1993  0.03  0.11  0.12  0.14  0.16  0.08  0.14  0.4
10  1994  0.01  0.17  0.24  0.20  0.25  0.22  0.09  0.4
11  1995  0.03  0.04  0.21  0.32  0.32  0.38  0.30  0.4
12  1996  0.06  0.21  0.12  0.35  0.28  0.24  0.24  0.4
13  1997  0.03  0.26  0.29  0.25  0.42  0.23  0.17  0.4
14  1998  0.10  0.10  0.34  0.44  0.16  0.35  0.36  0.4
15  1999  0.05  0.28  0.25  0.35  0.39  0.11  0.23  0.4
16  2000  0.15  0.10  0.37  0.19  0.26  0.33  0.09  0.4
17  2001  0.07  0.26  0.13  0.44  0.21  0.27  0.33  0.4
18  2002  0.14  0.21  0.45  0.29  0.40  0.16  0.14  0.4
19  2003  0.10  0.23  0.31  0.42  0.31  0.33  0.21  0.4
20  2004  0.15  0.21  0.29  0.35  0.55  0.30  0.36  0.4
21  2005  0.08  0.33  0.31  0.26  0.39  0.28  0.25  0.4
22  2006  0.22  0.14  0.41  0.33  0.20  0.23  0.23  0.4
23  2007  0.22  0.42  0.24  0.56  0.33  0.14  0.18  0.4
24  2008  0.17  0.45  0.47  0.33  0.51  0.35  0.09  0.4
25  2009  0.22  0.40  0.65  0.59  0.36  0.56  0.28  0.4
26  2010  0.20  0.39  0.49  0.67  0.39  0.32  0.41  0.4
27  2011  0.29  0.32  0.46  0.53  0.55  0.32  0.23  0.4
28  2012  0.12  0.33  0.36  0.53  0.53  0.65  0.31  0.4
29  2013  0.10  0.20  0.30  0.40  0.40  0.40  0.40  0.4

## 1.4) Recalculate the last column of the fishing mortality matrix

The last column and for all cells, except the last one the calculation is performed by calculating the average fishing mortality of all ages between 3 and 7. This is because the fishing mortality at early stage of fish life is neglible.

In [193]:
f_3_7 = ((new_f.iloc[:-1, 3:8]).mean(axis=1)).values
new_f.iloc[:-1, -1] = f_3_7