In [1]:
import pandas as pd
import math
import numpy as np
from os import path
from config import ROOT_PATH, DATA_PATH

In [2]:
# Read catch, and mortality rates (1)
# ---> read weight at age
data_path =path.join(DATA_PATH, 'project', 'vpa', 'weight_age.csv')
w = pd.read_csv(data_path)

# ---> read weight at age
data_path =path.join(DATA_PATH, 'project', 'vpa', 'maturity_rate.csv')
mat = pd.read_csv(data_path)

# ---> read natural mortality matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'm_mortality_rate.csv')
m = pd.read_csv(data_path)

# ---> read fishing mortality matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'f_mortality_rate.csv')
f = pd.read_csv(data_path)

# --> read catch matrix
data_path =path.join(DATA_PATH, 'project', 'vpa', 'catch_rate.csv')
c = pd.read_csv(data_path)

# --> abundance matrix
n = f.copy()
n[n.columns[1:]] = 0

In [3]:
class Abundance:
    
    def __init__ (self, c: pd.DataFrame, m: pd.DataFrame, f: pd.DataFrame):
        self.c = c
        self.m = m
        self.f = f
    
    def calculate_abundance_last_cols_rows (self, n: pd.DataFrame) -> pd.DataFrame:
        # Calculate abundance for last column (age 8 for all years)
        ct = self.c.iloc[:, -1]
        zt = self.f.iloc[:, -1] + self.m.iloc[:, -1]
        ft = self.f.iloc[:, -1]
        exp_z = np.exp(pd.Series([1] * len(zt)) - zt)
        #----> update last column
        n.iloc[:, -1] = round(ct * zt / ft * exp_z, 2)

        # Calculate abundance for last row (all ages for the last year)
        ct = self.c.iloc[-1, 1:].reset_index(drop=True)
        zt = (self.f.iloc[-1, 1:] + self.m.iloc[-1, 1:]).reset_index(drop=True)
        ft = self.f.iloc[-1, 1:].reset_index(drop=True)
        exp_z = np.exp(pd.Series([1] * len(zt)) - zt)
        #----> update last rowex
        n.iloc[-1, 1:] = round(ct * zt / ft * exp_z, 2)
        
        return n
    
    def calculate_abundance_rest_cols_rows (self, n: pd.DataFrame) -> pd.DataFrame:
        for col in range(len(n.columns)-1, 1, -1): # Calculation from age 7 to age 1
            nt1 = n.iloc[1:, col].reset_index(drop=True) # Nt+1,a+1
            e_m = np.exp(m.iloc[:-1, col-1])
            ct = self.c.iloc[:-1, col-1]
            em_2 = np.exp(m.iloc[:-1, col-1] / 2)
            n.iloc[:-1, col-1] = round((nt1 * e_m) + (ct * em_2), 2)
        return n
    
    def calculate (self, n: pd.DataFrame) -> pd.DataFrame:
        n = self.calculate_abundance_last_cols_rows(n)
        n = self.calculate_abundance_rest_cols_rows(n)
        return (n)

In [4]:
class FishingMortality:
    
    def __init__(self, n: pd.DataFrame, m: pd.DataFrame, f: pd.DataFrame):
        self.n = n
        self.m = m
        self.f = f.copy()
    
    def calculate_all_but_last_row(self) -> pd.DataFrame:
        for col in range(len(self.n.columns)-1, 1, -1): # from age 8 to age 2 but calucations are fro age 7 to 1
            nta1 = self.n.iloc[1:, col].reset_index(drop=True) # Nt+1,a+1
            nta = self.n.iloc[:-1, col-1]
            log_n = np.log(nta / nta1)
            mt = self.m.iloc[:-1, col-1]  # mt = M
            self.f.iloc[:-1, col-1] = round(log_n - mt, 2)
        return self.f
        
    def calculate_average_last_row(self, from_col: int, to_col: int):
        f_average = ((self.f.iloc[:-1, from_col:to_col]).mean(axis=1)).values
        self.f.iloc[:-1, -1] = f_average
        return self.f
    
    def calculate(self, from_col: int, to_col: int):
        self.calculate_all_but_last_row()
        self.calculate_average_last_row(from_col, to_col)
        return self.f

## 1) Calculate abundance matrix 

Calculate the abundance matrix by using the initial fishing mortality matrix. 

### 1.1) Calculate only the last column and row of N matrix of abundance matrix

To calculate the last row (fish of all ages for the last year) and colums (fish of age 8 for all years), use the catch equation: $ \large N_{t} = \frac{C_{t} * Z_{t}}{F_{t} * \ e^{(1 - Z_{t})}} $

### 1.2) Calculate rest of abundance matrix using Pope's equation

The Pope's equation $ \large N_{t, a} =  N_{t+1, a+1}e^{M} + C_{t}e^{\frac{M}{2}} $ is used to calculate the rest of the rows

In [5]:
abundance = Abundance(c, m, f)
n = abundance.calculate(n)
n

,year,1,2,3,4,5,6,7,8
0,1984,17151.50,20613.13,3572.67,2493.30,517.17,260.80,202.66,191.40
1,1985,14027.02,12470.69,13941.71,2439.99,1547.31,334.82,169.58,149.89
2,1986,8490.36,10424.76,8209.29,8633.04,1505.79,965.89,234.28,115.30
3,1987,17381.58,6175.46,7111.00,5135.84,4871.06,872.66,586.33,168.34
4,1988,10964.31,12849.32,4461.75,4373.16,2382.18,2200.68,479.30,325.14
5,1989,29829.54,8470.18,7627.85,2830.59,2391.83,1182.78,1043.19,315.92
6,1990,36784.08,21376.26,6340.66,4376.79,1847.94,1210.59,576.98,461.20
7,1991,46230.18,27721.73,13849.45,4632.77,2568.51,1273.27,663.94,350.51
8,1992,72539.15,35082.77,19251.97,8633.55,3248.83,1498.22,898.08,375.88
9,1993,75278.94,54920.94,24728.83,12310.66,5273.87,2138.36,892.36,592.64
10,1994,52021.05,57010.56,37755.48,16396.01,7912.57,3327.17,1429.73,479.64
11,1995,210878.22,39561.82,37190.75,22188.70,9658.42,4219.94,1903.74,943.15
12,1996,146704.74,158607.97,28744.85,23101.76,11424.33,4551.50,1607.98,929.31
13,1997,57695.60,106850.50,99100.91,18235.25,12240.44,5964.74,2221.85,643.37
14,1998,125890.10,43417.25,62757.21,56533.85,8603.95,5907.57,3188.34,1127.63
15,1999,43872.45,88319.96,30457.25,33265.76,26715.78,4354.20,3031.74,1187.58
16,2000,83591.56,32330.54,51221.08,18573.41,17107.14,13008.53,2349.71,1754.85
17,2001,41939.25,55804.07,22577.45,26904.19,11932.22,9542.44,6533.11,1206.03
18,2002,48010.69,30212.51,33261.24,15227.07,12788.14,7528.71,5092.16,3090.02
19,2003,99772.08,31523.92,18738.45,16389.68,8474.48,6157.62,4982.63,3189.18
20,2004,185175.52,69437.11,18277.18,10353.12,8292.68,4485.47,3116.17,3145.36
21,2005,38679.89,123684.43,42522.26,9426.44,5339.63,3593.76,2316.04,1418.18
22,2006,63271.78,27614.99,68996.37,23184.75,4752.07,2510.00,2054.88,1222.17
23,2007,77977.91,39700.14,18624.34,35116.39,12027.08,2483.07,1412.94,1242.93
24,2008,46119.33,48554.33,20356.78,11234.12,15238.17,5964.67,1384.02,834.77
25,2009,120013.88,30277.73,24153.98,9955.27,6157.25,6820.50,2655.26,814.01
26,2010,28306.59,74806.51,15734.04,9826.44,4307.02,3211.19,2808.17,1178.36
27,2011,39547.21,17999.83,39291.86,7520.85,3916.35,2260.90,1723.40,1309.80
28,2012,53829.22,23034.31,10169.71,19375.17,3431.26,1751.90,1276.30,1007.72
29,2013,42009.73,37317.37,12898.32,5513.61,8875.74,1572.68,714.86,731.00

## 2) Recalculate fishing mortality submatrix

### 2.1) Recalculate the submatrix that excludes the last column and last row

We exclude the last column from the calculation which corresponds to age 8 and use the formula $ \large log_n (\frac{N_{t,a}}{N_{t+1,a+1}}) - M$

### 2.2) Recalculate the last column of the fishing mortality matrix

The last column and for all cells, except the last one the calculation is performed by calculating the average fishing mortality of all ages between 3 and 7. This is because the fishing mortality at early stage of fish life is neglible.

In [6]:
fishing_mortality = FishingMortality(n, m, f)
from_col, to_col = 3, 8
new_f = fishing_mortality.calculate(from_col, to_col)
new_f

    year     1     2     3     4     5     6     7      8
0   1984  0.07  0.14  0.13  0.23  0.18  0.18  0.05  0.154
1   1985  0.05  0.17  0.23  0.23  0.22  0.11  0.14  0.186
2   1986  0.07  0.13  0.22  0.32  0.30  0.25  0.08  0.234
3   1987  0.05  0.08  0.24  0.52  0.54  0.35  0.34  0.398
4   1988  0.01  0.27  0.21  0.35  0.45  0.50  0.17  0.336
5   1989  0.08  0.04  0.31  0.18  0.43  0.47  0.57  0.392
6   1990  0.03  0.18  0.06  0.28  0.12  0.35  0.25  0.212
7   1991  0.03  0.11  0.22  0.10  0.29  0.10  0.32  0.206
8   1992  0.03  0.10  0.20  0.24  0.17  0.27  0.17  0.210
9   1993  0.03  0.12  0.16  0.19  0.21  0.15  0.37  0.216
10  1994  0.02  0.18  0.28  0.28  0.38  0.31  0.17  0.284
11  1995  0.03  0.07  0.23  0.41  0.50  0.71  0.47  0.464
12  1996  0.07  0.22  0.21  0.39  0.40  0.47  0.67  0.428
13  1997  0.03  0.28  0.31  0.50  0.48  0.38  0.43  0.420
14  1998  0.10  0.10  0.38  0.50  0.43  0.42  0.74  0.494
15  1999  0.06  0.29  0.24  0.42  0.47  0.37  0.30  0.360
16  2000  0.15  0.11  0.39  0.19  0.33  0.44  0.42  0.354
17  2001  0.08  0.27  0.14  0.49  0.21  0.38  0.50  0.344
18  2002  0.17  0.23  0.46  0.34  0.48  0.16  0.22  0.332
19  2003  0.11  0.30  0.34  0.43  0.39  0.43  0.21  0.360
20  2004  0.15  0.24  0.41  0.41  0.59  0.41  0.54  0.472
21  2005  0.09  0.33  0.36  0.43  0.50  0.31  0.39  0.398
22  2006  0.22  0.14  0.43  0.41  0.40  0.32  0.25  0.362
23  2007  0.22  0.42  0.26  0.58  0.45  0.33  0.28  0.380
24  2008  0.17  0.45  0.47  0.35  0.55  0.56  0.28  0.442
25  2009  0.22  0.40  0.65  0.59  0.40  0.64  0.56  0.568
26  2010  0.20  0.39  0.49  0.67  0.39  0.37  0.51  0.486
27  2011  0.29  0.32  0.46  0.53  0.55  0.32  0.29  0.430
28  2012  0.12  0.33  0.36  0.53  0.53  0.65  0.31  0.476
29  2013  0.10  0.20  0.30  0.40  0.40  0.40  0.40  0.400

## 3) Recalculate the abundance matrix with the new fishing mortality matrix

In [7]:
abundance = Abundance(c, m, new_f)
n = abundance.calculate(n)
n

,year,1,2,3,4,5,6,7,8
0,1984,18470.35,21891.46,3590.27,2620.78,518.57,356.36,354.07,395.16
1,1985,15389.87,13497.81,14937.27,2453.70,1646.59,335.91,244.00,267.81
2,1986,10522.38,11486.15,9009.21,9408.38,1516.47,1043.21,235.13,173.26
3,1987,18208.08,7758.00,7937.61,5758.82,5474.89,880.98,646.54,169.00
4,1988,10357.74,13493.00,5694.23,5016.92,2867.36,2670.94,485.78,372.03
5,1989,29551.01,7997.78,8129.15,3790.45,2893.19,1560.64,1409.43,320.96
6,1990,36644.26,21159.34,5972.75,4767.20,2595.48,1601.05,871.25,746.43
7,1991,45215.71,27612.84,13680.51,4346.24,2872.56,1855.45,968.03,579.69
8,1992,73122.05,34292.70,19167.17,8501.98,3025.68,1735.01,1351.48,612.70
9,1993,76282.85,55374.90,24113.52,12244.62,5171.41,1964.57,1076.77,945.75
10,1994,52880.36,57792.41,38109.02,15916.81,7861.14,3247.37,1294.38,623.26
11,1995,213628.79,40231.05,37799.66,22464.04,9285.22,4179.89,1841.59,837.74
12,1996,148269.99,160750.12,29266.05,23575.98,11638.76,4260.85,1576.79,880.91
13,1997,55450.03,108069.52,100769.22,18641.16,12609.76,6131.74,1995.49,619.08
14,1998,125922.27,41668.40,63706.58,57833.13,8920.07,6195.19,3318.40,951.34
15,1999,44439.81,88345.01,29095.25,34005.13,27727.66,4600.40,3255.74,1288.87
16,2000,83883.70,32772.40,51240.59,17512.68,17682.96,13796.58,2541.45,1929.30
17,2001,41573.30,56031.59,22921.57,26919.39,11106.12,9990.89,7146.85,1355.36
18,2002,46835.76,29927.51,33438.43,15495.07,12799.98,6885.34,5441.41,3568.00
19,2003,98789.79,30608.89,18516.49,16527.68,8683.20,6166.84,4481.58,3461.18
20,2004,184756.46,68672.10,17564.56,10180.26,8400.16,4648.02,3123.35,2755.14
21,2005,37925.44,123358.07,41926.47,8871.45,5205.01,3677.47,2442.63,1423.77
22,2006,63271.78,27027.42,68742.20,22720.75,4319.85,2405.16,2120.07,1320.76
23,2007,77977.91,39700.14,18166.74,34918.44,11665.72,2146.46,1331.29,1293.70
24,2008,46119.33,48554.33,20356.78,10877.74,15084.00,5683.25,1121.87,771.18
25,2009,120013.88,30277.73,24153.98,9955.27,5879.70,6700.43,2436.09,609.85
26,2010,28306.59,74806.51,15734.04,9826.44,4307.02,2995.03,2714.66,1007.67
27,2011,39547.21,17999.83,39291.86,7520.85,3916.35,2260.90,1555.05,1236.98
28,2012,53829.22,23034.31,10169.71,19375.17,3431.26,1751.90,1276.30,876.61
29,2013,42009.73,37317.37,12898.32,5513.61,8875.74,1572.68,714.86,731.00

## 3) Calculate average fishing moratlity, recruitment and SSB

To compute the fishing mortality we only take into account ages betgween 3 and 5

In [8]:
ssb = f.copy()
ssb[ssb.columns[1:]] = 0
ssb.iloc[:, 1:] = w.iloc[:, 1:] * mat.iloc[:, 1:] * n.iloc[:, 1:]
fm_rs_ssb = pd.DataFrame(data={'year': ssb.year, 
                               'ssb': ssb.iloc[:, 1:].sum(axis=1), 
                               'rs': n.iloc[:, 1],
                               'fm': new_f.iloc[:, 3:6].mean(axis=1).values}) # note that to compute the fishing mortality we only take into account ages from 3 to 6

In [28]:
fm_rs_ssb

    year          ssb         rs        fm
0   1984   375.741634   18470.35  0.180000
1   1985   430.205042   15389.87  0.226667
2   1986   437.451420   10522.38  0.280000
3   1987   411.430557   18208.08  0.433333
4   1988   378.657597   10357.74  0.336667
5   1989   434.015706   29551.01  0.306667
6   1990   581.302241   36644.26  0.153333
7   1991   771.064502   45215.71  0.203333
8   1992  1024.653060   73122.05  0.203333
9   1993  1311.733494   76282.85  0.186667
10  1994  1475.911074   52880.36  0.313333
11  1995  1556.126598  213628.79  0.380000
12  1996  2022.999619  148269.99  0.333333
13  1997  2108.079816   55450.03  0.430000
14  1998  1641.965211  125922.27  0.436667
15  1999  1602.697326   44439.81  0.376667
16  2000  1520.455864   83883.70  0.303333
17  2001  1417.514183   41573.30  0.280000
18  2002  1157.711530   46835.76  0.426667
19  2003   998.691230   98789.79  0.386667
20  2004  1134.050498  184756.46  0.470000
21  2005  1400.332379   37925.44  0.430000
22  2006  1126.844625   63271.78  0.413333
23  2007  1007.423114   77977.91  0.430000
24  2008  1017.765197   46119.33  0.456667
25  2009   897.188782  120013.88  0.546667
26  2010   964.220686   28306.59  0.516667
27  2011   740.386387   39547.21  0.513333
28  2012   674.271292   53829.22  0.473333
29  2013   737.395296   42009.73  0.366667