In [26]:
import pandas as pd
from typing import List,Optional
from config import ROOT_PATH, DATA_PATH
from os import path

In [28]:
df_header = ['year'] + [x for x in range(1, 9)]

In [29]:
def extract_data_from_excel (data_path: str, sheet_name: str, col_range: List[str], skip_rows: int, num_rows: int, header=Optional[List]):
    col_range = ':'.join(col_range)
    data = pd.read_excel(data_path, sheet_name=sheet_name, usecols=col_range, skiprows=skip_rows, nrows= num_rows, names=header)
    return(data)

In [30]:
# Extract excel data for weight at age
weight_data = extract_data_from_excel(sprat_data_path, sheet_name= 'VPA', col_range=['A', 'I'], skip_rows=2, num_rows=(33-3), header=df_header)
weight_data_path = path.join(DATA_PATH, 'project', 'vpa', 'weight_age.csv')
average_data = pd.DataFrame(data={'years': weight_data.columns[1:], 'weight': round(weight_data.mean()[1:], 3)})

In [31]:
# Extract excel data for maturity
maturity_data = extract_data_from_excel(sprat_data_path, sheet_name= 'VPA', col_range=['K', 'S'], skip_rows=2, num_rows=(33-3), header=df_header)
maturity_data_path = path.join(DATA_PATH, 'project', 'vpa', 'maturity_rate.csv') 
average_data['maturity'] = [round(x, 3) for x in maturity_data.mean().values[1:]]

In [32]:
# Extract excel data for mortality rates
mortality_data = extract_data_from_excel(sprat_data_path, sheet_name= 'VPA', col_range=['V', 'AD'], skip_rows=2, num_rows=(33-3), header=df_header)
mortality_data_path = path.join(DATA_PATH, 'project', 'vpa', 'mortality_rate.csv') 
average_data['mortality'] = [round(x, 3) for x in mortality_data.mean().values[1:]]

In [33]:
# Extract excel data for catch rates
catch_data = extract_data_from_excel(sprat_data_path, sheet_name= 'VPA', col_range=['A', 'I'], skip_rows=36, num_rows=(33-3), header=df_header)
catch_data_path = path.join(DATA_PATH, 'project', 'vpa', 'catch_rate.csv') 
average_data['catch'] = [round(x, 3) for x in catch_data.mean().values[1:]]

In [34]:
averages_path = path.join(DATA_PATH, 'project', 'vpa', 'averages.csv')
weight_data.to_csv(weight_data_path, index=False)
maturity_data.to_csv(maturity_data_path, index=False)
mortality_data.to_csv(mortality_data_path, index=False)
catch_data.to_csv(catch_data_path, index=False)
average_data.to_csv(averages_path, index=False)

In [47]:
mortality_data.iloc [:, 1]

0     0.25
1     0.25
2     0.25
3     0.25
4     0.25
5     0.25
6     0.25
7     0.25
8     0.25
9     0.25
10    0.25
11    0.25
12    0.25
13    0.25
14    0.25
15    0.25
16    0.25
17    0.25
18    0.25
19    0.25
20    0.25
21    0.25
22    0.25
23    0.25
24    0.25
25    0.25
26    0.25
27    0.25
28    0.25
29    0.25
Name: 1, dtype: float64

In [41]:
mortality_data

    year     1     2     3     4     5     6     7     8
0   1984  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
1   1985  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
2   1986  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
3   1987  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
4   1988  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
5   1989  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
6   1990  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
7   1991  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
8   1992  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
9   1993  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
10  1994  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
11  1995  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
12  1996  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
13  1997  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
14  1998  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
15  1999  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
16  2000  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
17  2001  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
18  2002  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
19  2003  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
20  2004  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
21  2005  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
22  2006  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
23  2007  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
24  2008  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
25  2009  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
26  2010  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
27  2011  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
28  2012  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25
29  2013  0.25  0.25  0.25  0.25  0.25  0.25  0.25  0.25

In [50]:
a = pd.DataFrame()

In [58]:
mortality_data.iloc[:,0].values

array([1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013])